@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';
$font-size-h1: 2rem;

@import '~bootstrap/scss/normalize';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/utilities-background';


h1 {
    margin: 1rem 0;
    text-align: center;
}

.form-control {
    margin: 1rem 0;
}

.btn {
    display: block;
    width: 100%;
    margin: 1rem 0;
}


.navbar-brand {
    float: none;
}

.navbar-nav {
    display: block;
    margin: 1rem;
    padding: 0;
}

.navbar-nav-item {
    display: block;
}

.icon-refresh {
    width: 1.5rem;
    height: 1.5rem;
}

.icon-menu {
    fill: $navbar-dark-active-color;
    width: 1rem;
    height: 1rem;
}

.icon-edit,
.icon-remove {
    width: 1rem;
    height: 1rem;
}

.spinner {
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.list-item-phrase {
    font-weight: 700;
}

.list-item-control {
    padding: 0.5rem;
}
